
html body{
	background-color: 	#F0F0F0;
}


.title {
	color: #7A378B;
	font-family: Helvetica Neue;
	text-align: center;

}

.container{
	background-color: 	#F0F0F0;

}

.row .toptext {
	font-family: Helvetica;
	font-size: 18px;
	margin-top: 25px;
}

.column{

}

.row .container-photos {
	padding-left: 20px;


}

.photos{

	padding: 37px;
	margin-left: 75px;
}

	

.middle-text{
	margin-top: 165px;
	margin-left:135px;
	font-family: arial !important;
	font-size: 20px !important;

	
	
}

.middle-text-small{
	margin-top: -10px;
	margin-left:155px;
	font-family: ;
	font-size: 13px;
	
	
}

.row .bottomtext{
	font-family: Helvetica;
	font-size: 18px;
	margin-top: 40px;

}

.button{
	
	text-align: center;
	margin-top: 10px;
}

.supporters{
	text-align: center;	
	padding-top: 60px;
}

.sponsors{

	margin-left: 90px;
}

.space{
	margin: 10px;
	margin-top: 30px;
}

.email{
	text-align: center;
	font-size: 14px;
	margin-top:15px;
	font-family: Helvetica;
}
